<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-primary-theme">

    <h1 class="text-white text-center">About Us</h1>

    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, hic ea. Accusantium unde et ut! Id quis a
        facilis expedita quam animi vero alias eaque, recusandae, fuga neque ipsum illum?
        Rem recusandae cumque dolores enim, porro tenetur repellendus odit culpa. Voluptatibus commodi adipisci quod
        fugiat sequi, placeat accusantium eveniet sed dolores illo. Beatae sapiente repellat, reiciendis animi possimus
        quibusdam quia!
        Aliquam voluptate nobis eligendi ea et provident quia, laborum, deserunt eaque illum facere sunt! Recusandae
        atque perspiciatis hic voluptas officia, porro eligendi, eaque quaerat, numquam maiores vero error! Iste,
        soluta.
        Praesentium hic repellendus dolores sequi veritatis soluta ad ea natus nulla quod possimus rem ducimus ratione
        alias fugit quae consequatur enim saepe, rerum at. Eaque error eveniet inventore accusamus natus?
        Corrupti rerum repellat et iusto voluptate laudantium suscipit itaque beatae ipsam aliquid ab pariatur aut
        omnis, aliquam deleniti animi placeat consequuntur, iure quos non cumque, natus odio magni quisquam? Eum?
      </p>
      <p>
        Vero error architecto eveniet expedita odio dignissimos quaerat eaque voluptatum harum? Consectetur itaque,
        quaerat dignissimos repellendus harum quas, animi, porro quibusdam assumenda placeat nesciunt in nihil. Facere
        quo quibusdam id.
      </p>
      <p>
        Quae sapiente delectus maxime minus quaerat. Laboriosam beatae sint mollitia nostrum minus qui voluptatum a
        doloremque, error veritatis ratione ea exercitationem perspiciatis repellat, tempora veniam quaerat amet
        perferendis, natus sapiente!
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>