<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/27376082/pexels-photo-27376082/free-photo-of-madeira-panorama-vista-paisagem.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
          alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger text-center"> Design </small>
          <small class="bg-light text-sucess text-center ml-2"> Feature</small>
          <small class="bg-light text-info text-center ml-2"> View - 100,256 </small>
          <small class="bg-light text-warning text-center ml-2"> LAST UPDATE SET 20, 2021 </small>
          <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ut adipisci. Explicabo laboriosam esse
            sit voluptatem porro error blanditiis quibusdam maxime ad iure incidunt animi nisi, non nobis? Vel, placeat.
            Assumenda porro in mollitia recusandae! Voluptates alias fuga porro omnis at voluptatum vitae, illo modi ea
            iste obcaecati corporis minima, optio dolor, ex aperiam quam officiis consequatur nostrum delectus!
            Quibusdam?
            Modi sit eius accusamus magnam, suscipit repellendus quam temporibus dicta error, cumque magni delectus
            blanditiis libero officiis excepturi cupiditate aliquam atque veniam. Quisquam totam quod voluptatibus in
            consectetur eius nobis.
            Consequuntur hic vel aperiam dolore omnis aut a eum ullam eos, ipsam facilis culpa optio fuga. Ipsa omnis
            tempora assumenda nostrum modi? Voluptatum, nemo rerum illo modi dolorum cumque corporis.
            Sequi perferendis aut itaque, soluta eligendi dignissimos veniam aliquid fugit sunt quia culpa eius aperiam
            totam nobis maxime doloremque? Facere similique numquam debitis veniam est praesentium minus reprehenderit,
            placeat et?
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>